.two-grid-columns{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 70vh;
    justify-content: center;
    align-items: center;
}

.one-grid-column{
    display: grid;
    grid-template-columns: 1fr;
    height: 70vh;
    justify-content: center;
    align-items: center;
}

.grid-element-text{
    display: grid;
    grid-template-columns: 32% 1fr;
    align-items: center;
}

.div-text-elem{
    margin: 0 !important;
    line-height: 1.3;
}

#element-text-banner{
    span{

        &:nth-child(3){

            font-size: 1.5rem;
            letter-spacing: 13px;
            text-align: left;
            color: #ffffff80 !important;
            margin-left: 10px;

            &:before{
                content: '';
                width: 39%;
                background: #d42e0d;
                position: relative;
                display: block;
                height: 1px;
                margin: 7px 10px;
            }
        }
    }
}

.banner-section{

     background-image: url("../../../static/banner/web_banner.png");

    /* Set a specific height */
    height: 70vh;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    h1{
        font-size: 2.0em;
        font-weight: bold;
    }
}

.banner-img{
    
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: center;
    align-items: center;
    text-align: center;

    img{
        position: absolute;
        left: 0;
        bottom: 0;
        width:100%;
    }
}

.f-letter-elem{
    font-weight: 900 !important;
    font-size: 18rem;
    text-align: center;
    color: #000000 !important;
    background: -webkit-linear-gradient(#e0482f, #a90c55);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#banner-layout-responsive{
    height: 50vh;
    grid-template-columns: 15% 1fr;
}


/*Modification*/
.banner-text{

    line-height: 1;
    margin-top: 0%;

    h1{

        text-transform: uppercase;
        font-size: 2rem;
        line-height: 1;
        font-weight: 900;
        color: #fff!important;
        background: rgba(31,104,161,.34);
        padding: 15px;
        text-align: center;

        span{
            &:nth-child(1),
            &:nth-child(4){
                position: relative;
                z-index: 2;
            }
        }

        &:after{
            content:'';
        }
    }
    
    p{
        margin: 0 !important;
        position: relative;
        z-index: 10;
        color: #ffffff;
        text-transform: uppercase;
        letter-spacing: 0px;
        font-weight: 100;
        font-size: 1rem;
        opacity: 0.4;
        line-height: 1.3;
    }

    span{
        display: block;
    }

    a{

        &:before{
            content: '';
            width: 100%;
            background: #e0e0e0ee;
            position: relative;
            height: 1px;
            margin: 22px 2px;
        }

        text-transform: uppercase;
        color: hsla(0,0%,93.3%,.93)!important;
        /* margin-top: 2%; */
        display: block;
        text-align: center;
        max-width: 300px;
        margin: 2% auto;
        padding: 1%;
        background: #344b60;

    }

    .first-title{
        font-family: "augusta-free";
        font-size: 5em;
        color: #fff;
    }

}